In [1]:
from pandas import read_html
import pandas as pd
from pandas import Series, DataFrame
import seaborn as sns
import matplotlib as plt
import sklearn
from bs4 import BeautifulSoup
import urllib.request
import numpy as np
import scipy.stats as scipy

In [2]:
#Pulling regular season team ratings from 1986 to 2017
def team_ratings ():
    reg_team_rating_dframe = DataFrame()
    for x in range(1986,2017): #appends the rest of the dataframes
        url = 'https://www.basketball-reference.com/leagues/NBA_%d_ratings.html' %x
        dframe_list = pd.io.html.read_html(url)
        df = dframe_list[0]
        df.columns = df.columns.droplevel() #drops the unnecessary hierachy
        df['Year'] = Series ([x for i in range(len(df.index))])
        reg_team_rating_dframe = reg_team_rating_dframe.append(df)
    
    
    #2017 season doesnt have the hierachy like the rest of the seasons, append separately
    url1 = 'https://www.basketball-reference.com/leagues/NBA_2017_ratings.html'
    dframe_list1 = pd.io.html.read_html(url1)
    dframe17 = dframe_list1[0]
    dframe17['Year'] = Series ([2017 for i in range(len(dframe17.index))]) #year column
    reg_team_rating_dframe = reg_team_rating_dframe.append(dframe17)
    
    reg_team_rating_dframe = reg_team_rating_dframe.rename({"Rk":"Rank"},axis='columns')    #Feature Transformation
    reg_team_rating_dframe.to_csv("Regular_Season_Team_Rating.csv",index=False)
    return reg_team_rating_dframe

In [3]:
#Find the champion of each season
def Champion():
    Champions_df = DataFrame(columns = ['Year','Team'])

    for x in range (1986,2018):
        html = 'https://www.basketball-reference.com/playoffs/NBA_%d.html' %x
        r = urllib.request.urlopen(html).read()
        soup = BeautifulSoup(r,'lxml')
        list1=[]
        for text in soup.find_all('p'):
            list1.append(text)
        element = list1[2]
        index = str(element).find(".html\">") 
        index = index + 7 #the starting index of the team
        Team = str(element)[index:str(element).find("</a><")] #substring "Team" is the team name
        series = Series (data = [x,Team],index = ['Year','Team'])
        Champions_df = Champions_df.append(series,ignore_index=True)
    Champions_df.to_csv("Champions.csv",index=False)
    return Champions_df

In [3]:
def possessions ():
    for i 
    html = 'https://www.teamrankings.com/nba/stat/possessions-per-game?date=2005-03-31'
    dframe_list = pd.io.html.read_html(html)
    dframe17 = dframe_list1[0]
    dframe17

    Rank          Team  2004  Last 3  Last 1  Home  Away  2003
0      1       Phoenix  99.5   104.0   106.4  99.9  99.1  95.7
1      2  Philadelphia  98.7   103.3   106.4  99.1  98.3  91.3
2      3       Orlando  98.0   102.7   100.2  99.1  96.8  94.5
3      4        Boston  97.5    95.0    92.6  96.2  99.0  96.0
4      5    Washington  97.1    97.6    97.3  97.3  97.0  95.8
5      6    Sacramento  96.9    97.0    91.6  96.7  97.0  96.3
6      7  Golden State  96.5    97.8    92.3  97.7  95.5  93.1
7      8        Dallas  96.4    88.9    92.6  97.4  95.2  96.7
8      9        Denver  96.3    98.8    96.9  96.9  95.7  96.3
9     10     Charlotte  96.0    94.5    94.7  95.5  96.6    --
10    11       Toronto  96.0    94.2   100.2  95.6  96.3  90.5
11    12       Chicago  95.8    95.2    94.7  96.0  95.6  95.6
12    13         Miami  94.8    95.2    94.6  94.3  95.3  90.8
13    14       Atlanta  94.7    96.4    97.3  94.6  94.8  94.6
14    15     Milwaukee  94.4    88.7    92.3  93.7  95.1  94.8
15    16     LA Lakers  94.1    99.4    92.4  94.0  94.3  94.6
16    17      New York  94.1    93.8    92.4  92.8  95.4  93.4
17    18     Cleveland  93.8    92.4    88.3  94.6  92.9  94.6
18    19   LA Clippers  93.3    91.1    91.4  94.7  91.6  94.6
19    20      Brooklyn  93.0    92.8    91.4  92.0  94.0  92.2
20    21      Portland  92.6    94.7    91.8  92.1  93.0  90.0
21    22       Houston  92.4    88.0    91.8  92.9  91.9  91.4
22    23     Minnesota  92.0    91.7    93.6  92.3  91.7  92.2
23    24          Utah  92.0    90.8    96.9  91.5  92.5  89.9
24    25     Okla City  91.9    88.6    86.4  93.3  90.5  93.5
25    26   San Antonio  91.7    90.4    86.4  91.4  92.0  91.7
26    27   New Orleans  91.4    92.7    98.0  91.6  91.2  92.2
27    28       Detroit  91.2    91.0    91.6  90.9  91.6  90.7
28    29       Memphis  91.1    88.1    83.6  90.5  91.7  94.8
29    30       Indiana  91.0    88.0    85.0  90.1  91.9  90.2

In [10]:
#Dataframe that details which round the team got eliminated
# 1 = Champion
# 2 = Runner's up
# 3 = Lost in the 3rd Round
# 4 = Lost in the 2nd Round
# 5 = Lost in the 1st Round
def playoff_elim ():
    playoff_elim_df = DataFrame()
    for x in range (1986,2018):
        url1 = 'https://www.basketball-reference.com/playoffs/NBA_%d.html' %x
        dframe_list = pd.io.html.read_html(url1)
        raw_dframe = dframe_list[16]
        teams_not_in_finals = raw_dframe['Team'][2:16]
        finalists = raw_dframe['Team'][0:2]
        df = DataFrame()
        positions = Series([0,1,2,3,3,4,4,4,4,5,5,5,5,5,5,5,5])
        df['Position'] = positions
        championsindex = int(x-1986)
        championteam = Champion_df.iloc[championsindex]['Team']
        teams = Champion_df.iloc[championsindex]
        finalists = finalists.loc[finalists != championteam]
        teams = teams.append(finalists,ignore_index=True)
        teams = teams.append(teams_not_in_finals,ignore_index=True)
        teams = teams.drop(index = [0])
        df['Teams'] = teams
        df['Year'] = Series(x,teams.index)
        df = df.drop(index= [0])
        playoff_elim_df = playoff_elim_df.append(df,ignore_index=True)
    playoff_elim_df.to_csv("playoff_elim.csv",index=False)
    return playoff_elim_df

In [39]:
teamratings_df = team_ratings()
teamratings_df.head()

,Rank,Team,Conf,Div,W,L,W/L%,MOV,ORtg,DRtg,NRtg,MOV/A,ORtg/A,DRtg/A,NRtg/A,Year
0,1,Boston Celtics,E,A,67,15,0.817,9.41,112.40,103.16,9.24,9.06,112.54,103.67,8.87,1986
1,2,Milwaukee Bucks,E,C,57,25,0.695,9.04,112.05,103.09,8.95,8.69,112.17,103.58,8.59,1986
2,3,Los Angeles Lakers,W,P,62,20,0.756,7.74,113.69,106.38,7.32,6.84,113.18,106.72,6.47,1986
3,4,Atlanta Hawks,E,C,50,32,0.610,2.37,108.43,106.06,2.36,2.59,108.76,106.19,2.57,1986
4,5,Philadelphia 76ers,E,A,54,28,0.659,2.35,109.01,106.81,2.21,2.47,109.38,107.07,2.30,1986

In [12]:
teamratings_df.tail()

,Rank,Team,Conf,Div,W,L,W/L%,MOV,ORtg,DRtg,NRtg,MOV/A,ORtg/A,DRtg/A,NRtg/A,Year
25,26,Phoenix Suns,W,P,24,58,0.293,-5.63,107.32,112.79,-5.47,-5.14,107.43,112.41,-4.98,2017
26,27,Philadelphia 76ers,E,A,28,54,0.341,-5.70,103.96,109.81,-5.85,-5.83,103.92,109.91,-5.99,2017
27,28,Los Angeles Lakers,W,P,26,56,0.317,-6.88,106.69,113.72,-7.02,-6.29,106.96,113.38,-6.42,2017
28,29,Brooklyn Nets,E,A,20,62,0.244,-6.73,104.61,111.34,-6.73,-6.74,104.63,111.37,-6.74,2017
29,30,Orlando Magic,E,SE,29,53,0.354,-6.57,104.23,111.11,-6.88,-6.61,104.30,111.21,-6.92,2017

In [38]:
Champion_df = Champion()
Champion_df.head()

   Year                Team
0  1986      Boston Celtics
1  1987  Los Angeles Lakers
2  1988  Los Angeles Lakers
3  1989     Detroit Pistons
4  1990     Detroit Pistons

In [40]:
playoff_elim_df = playoff_elim()
playoff_elim_df.head()

   Position               Teams    Year
0         1      Boston Celtics  1986.0
1         2     Houston Rockets  1986.0
2         3  Los Angeles Lakers  1986.0
3         3     Milwaukee Bucks  1986.0
4         4  Philadelphia 76ers  1986.0

In [15]:
#Assist Ratio is the percentage of a team’s possessions that ends in an assist.
#This stat is probably a good predictor because a team that has "good ball movement" tend to win (might be wrong obv)
def assist_ratio (Team):
    Assists,FGA,FTA,TO = Team
    return ((Assists)*100)/ [(FGA)+(FTA*0.44)+(Assists)+(TO)]
#df['assist_ratio'] = df[['Assists','FGA','FTA','TO']].apply(assist_ratio,axis=1)

In [72]:
#make sure to specify the year this distribution is run
def Correlated_Gaussian_Winning_Percentage(df,year):
    df = df[df['Year']==year] #gives the entire dataframe
    Allowed_series = df['Points_Allowed']
    Scored_series = df['Points_Scored']
    list_of_percentages = DataFrame(columns = ['Team','Percentage'])
    for team in range(len(df.index)):
        percent = scipy.norm.cdf(team['Points_Scored']-team['Points Allowed'])/((Allowed_series-Scored_series).std())
        series = Series ([team,percent],index = ['Team','Percentage'])
        list_of_percentages = list_of_percentages.append(series,ignore_index=True)
    list_of_percentage['Year']=Series ([year for i in range(len(list_of_percentage.index))])
    return list_of_percentage
#Correlated_Gaussian_Winning_Percentage(df,year)

In [73]:
#The method that gives an expected winning percentage using the ratio of a team’s wins and losses 
#is related to the number of points scored and allowed.
def Pythagorean_Winning_Percentage(team):
    Points_Scored,Points_Allowed = team
    return (np.power(Points_Scored,16.5)/(np.power(Points_Scored,16.5)+np.power(Points_Allowed,16.5)))
#df['pythag_win_percentage'] = df[['Points_Scored','Points_Allowed']].apply(Pythagorean_Winning_Percentage,axis=1)

In [ ]:
#The numerical gap between a team’s offensive efficiency and defensive efficiency. 
#The differential represents what each team did for the entire season
#and a team’s efficiency differential is a better predictor of future success.
def Efficiency_Differential(team):
    Offensive Efficiency,Defensive Efficiency = team
    return ((Offensive Efficiency)-(Defensive Efficiency))
#df['efficiency_diff'] = df[['Off_eff'],['Def_eff']].apply(Efficiency_Differential,axis=1)

In [ ]:
def transition_defense(team):
    Opponent_Fast_Break_Points, Opponent_Steals = team
    return ((Opponent_Fast_Break_Points)/(Opponent_Steals)) 
    #I don't think this formula is particularly accurate
    #because transition offense can be initiated in other ways

In [ ]:
def transition_offense(team):
    Fast_Break_Points,Steals = team
    return ((Fast_Break_Points)/(Steals))
#I don't think this formula is particularly accurate
#because transition offense can be initiated in other ways

In [ ]:
#this stat might be a good indicator if a team is a "rough and tough" team as opposed to a finesse team
#or it might indicate that the team has a dominant big man.
def Defensive_Rebouding_Percentage(team):
    Defensive_Rebounds,Opponent_Offensive_Rebounds = team
    return((Defensive_Rebounds)/((Defensive_Rebounds)+(Opponent_Offensive_Rebounds)))

In [ ]:
#this stat might be a good indicator if a team is a "rough and tough" team as opposed to a finesse team
#or it might indicate that the team has a dominant big man.
def Offensive_Rebounding_Percentage(team):
    Offensive_Rebounds,Opponent_Defensive_Rebounds = team
    return ((Offensive_Rebounds)/((Offensive_Rebounds)+(Opponent_Defensive_Rebounds)))

In [ ]:
#shows how fast a team plays
def pace (team):
    Team_Minutes,Possession_Team,Possession_Opponent = team
    return ((240/(Team_Minutes))*((Possession_Team+Possession_Opponent)/2))

In [ ]:
#The metric that indicates the percentage of the time a team will score if not sent to the free throw line. 
def play_percentage(team):
    FGM,FGA,Offensive_Rebounds,Turnovers = team
    return (FGM/(FGA-Offensive_Rebounds+Turnovers))

In [ ]:
#Turnover Ratio is the percentage of a team’s possessions that end in a turnover.
#this is likely to be a pretty good indicator as teams which take care of the ball are better (might be wrong)
def Turnover_Ratio(team):
    Turnovers,FGA,FTA,Assists,Turnovers = team
    return ((Turnovers*100)/ ((FGA)+(FTA*0.44)+(Assists)+(Turnovers)))