In [1]:
from pandas import read_html
import pandas as pd
from pandas import Series, DataFrame
import seaborn as sns
import matplotlib as plt
import sklearn
from bs4 import BeautifulSoup
import urllib.request
import numpy as np
import scipy.stats as scipy
import Defensive_Stats as stats
import Defense_All_Team as all_teams

In [2]:
First_Team,Second_Team = all_teams.get_all_defense()

/usr/local/lib/python3.6/site-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [3]:
First_Team.head()

             Player    Year
0     Kawhi Leonard  2016.0
1       Rudy Gobert  2016.0
2  Patrick Beverley  2016.0
3        Chris Paul  2016.0
4    Draymond Green  2016.0

In [4]:
Second_Team.head()

                  Player    Year
0             Tony Allen  2016.0
1         Andre Roberson  2016.0
2          Anthony Davis  2016.0
3  Giannis Antetokounmpo  2016.0
4            Danny Green  2016.0

In [5]:
Defensive_Tracking,Defense_General,Shooting,Hustle = stats.Defensive_Stats()

In [ ]:
Player_info = stats.player_stats()

In [ ]:
Defense_General[Defense_General['Player']=="Gary Payton"]

In [ ]:
Positions = Player_info.ix[:,['Year','Player','Pos']]
Positions['Year'] = Positions['Year'].astype(float)

In [ ]:
def asterisk (name):
    if "*" in name:
        return name[:(len(name)-1)]
    else:
        return name

In [ ]:
Positions['Player'] = Positions['Player'].apply(asterisk)

In [ ]:
First_Team = pd.merge(First_Team,Positions,on = ['Year','Player'])
First_Team = pd.merge(First_Team,Defense_General,on=['Year','Player'])
First_Team = pd.merge(First_Team,Shooting,on = ['Year','Player'])
Second_Team = pd.merge(Second_Team,Positions,on = ['Year','Player'])
Second_Team = pd.merge(Second_Team,Defense_General,on=['Year','Player'])
Second_Team = pd.merge(Second_Team,Shooting,on = ['Year','Player'])

In [ ]:
First_Team.columns