In [1]:
from pandas import read_html
import pandas as pd
from pandas import Series, DataFrame
import seaborn as sns
import matplotlib as plt
import sklearn
from bs4 import BeautifulSoup
import urllib.request
import numpy as np
import scipy.stats as scipy
import Defensive_Stats as stats
import Defense_All_Team as all_teams

In [2]:
First_Team,Second_Team = all_teams.get_all_defense()

/usr/local/lib/python3.6/site-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [3]:
First_Team.head()

             Player  Year
0     Kawhi Leonard  2017
1       Rudy Gobert  2017
2  Patrick Beverley  2017
3        Chris Paul  2017
4    Draymond Green  2017

In [4]:
Second_Team.head()

                  Player  Year
0             Tony Allen  2017
1         Andre Roberson  2017
2          Anthony Davis  2017
3  Giannis Antetokounmpo  2017
4            Danny Green  2017

In [5]:
Defensive_Tracking,Defense_General,Shooting,Hustle = stats.Defensive_Stats()

In [6]:
Defensive_Tracking.head()

,PLAYER_ID,Player,TEAM_ID,Team,GP,W,L,MIN,STL,BLK,DREB,DEF_RIM_FGM,DEF_RIM_FG_PCT,Year
0,201985,AJ Price,1610612750,MIN,28,15,13,3.5,0.0,0.0,0.3,0.1,0.750,2013
1,201166,Aaron Brooks,1610612743,DEN,72,42,30,21.6,0.7,0.2,1.3,1.0,0.690,2013
2,201189,Aaron Gray,1610612758,SAC,36,11,25,9.7,0.3,0.2,1.9,0.9,0.711,2013
3,203519,Adonis Thomas,1610612755,PHI,6,2,4,6.3,0.0,0.0,0.5,0.2,0.500,2013
4,1733,Al Harrington,1610612764,WAS,33,20,13,15.0,0.4,0.0,1.9,1.1,0.745,2013

In [7]:
Defense_General.head()

,PLAYER_ID,Player,TEAM_ID,Team,AGE,GP,W,L,W_PCT,MIN,...,PCT_STL_RANK,BLK_RANK,PCT_BLK_RANK,OPP_PTS_OFF_TOV_RANK,OPP_PTS_2ND_CHANCE_RANK,OPP_PTS_FB_RANK,OPP_PTS_PAINT_RANK,DEF_WS_RANK,CFPARAMS,Year
0,920,A.C. Green,1610612742,DAL,33,83,23,60.0,0.277,30.8,...,235,260,296,345,323,372,333,120,920.0,1996.0
1,243,Aaron McKie,1610612765,DET,24,83,48,35.0,0.578,20.4,...,32,213,246,223,197,165,173,86,243.0,1996.0
2,1425,Aaron Williams,1610612763,VAN,25,33,4,29.0,0.121,17.8,...,191,58,62,237,230,215,225,199,1425.0,1996.0
3,768,Acie Earl,1610612749,MIL,27,47,14,33.0,0.298,11.1,...,267,96,37,87,78,158,113,263,768.0,1996.0
4,228,Adam Keefe,1610612762,UTA,27,62,48,14.0,0.774,15.4,...,218,250,191,170,131,113,139,170,228.0,1996.0

In [8]:
Shooting.head()

,Player,Team,AGE,Less than 5 Ft FGM,Less than 5 Ft FGA,Less than 5 Ft FG%,5-9 Ft GM,5-9 Ft FGA,5-9 Ft FG%,10-14 Ft FGM,...,15-19 Ft FGM,15-19 Ft FGA,15-19 Ft FG%,20-24 Ft FGM,20-24 Ft FGA,20-24 Ft FG%,25-29 Ft FGM,25-29 Ft FGA,25-20 Ft FG%,Year
0,A.C. Green,DAL,33,10.1,16.9,0.598,2.4,5.4,0.44,2.5,...,3.7,9.2,0.402,4.2,11.2,0.375,0.4,1.4,0.245,1996
1,Aaron McKie,DET,24,5,10.4,0.483,1.3,3.5,0.364,1.7,...,2.1,5.2,0.4,2.6,7,0.367,0.4,1.2,0.365,1996
2,Aaron Williams,VAN,25,6.7,11.4,0.589,1.4,3.2,0.429,0.9,...,1.2,4.5,0.266,2,5.7,0.349,0.3,0.8,0.333,1996
3,Acie Earl,MIL,27,4.2,7.2,0.587,0.8,2.0,0.38,0.7,...,0.8,2.4,0.324,1.4,4,0.343,0.3,0.9,0.357,1996
4,Adam Keefe,UTA,27,4.7,8.2,0.568,0.9,2.0,0.43,0.9,...,1.4,4.1,0.348,2.1,6.4,0.332,0.1,0.8,0.182,1996

In [9]:
Hustle.head()

,PLAYER_ID,Player,TEAM_ID,Team,AGE,G,MIN,CONTESTED_SHOTS,CONTESTED_SHOTS_2PT,CONTESTED_SHOTS_3PT,CHARGES_DRAWN,DEFLECTIONS,LOOSE_BALLS_RECOVERED,BOX_OUTS,Year
0,201166,Aaron Brooks,1610612741,CHI,31.0,69,16.0,0.01,0.01,0.0,0.0,0.0,0.0,0.0,2015
1,203932,Aaron Gordon,1610612753,ORL,20.0,78,24.0,0.03,0.03,0.0,0.0,0.0,0.01,0.0,2015
2,1626151,Aaron Harrison,1610612766,CHA,21.0,21,4.0,None,None,None,None,None,None,None,2015
3,203940,Adreian Payne,1610612750,MIN,25.0,52,9.0,None,None,None,None,None,None,None,2015
4,201143,Al Horford,1610612737,ATL,30.0,82,32.0,0.3,0.27,0.04,0.0,0.04,0.0,0.0,2015

In [10]:
#Defensive_Tracking.to_csv("Defensive_Tracking.csv")
#Defense_General.to_csv("Defense_General.csv")
#Shooting.to_csv("Shooting.csv")
#Hustle.to_csv("Hustle.csv")
#First_Team.to_csv("First_Team.csv")
#Second_Team.to_csv("Second_Team.csv")